* {
    box-sizing: border-box;
}
header {
    position: sticky;
    top: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #EAEDED;
}

.aWhite {
    color: white;
}

a {
    text-decoration: none;
}

.logo {
    background-color: #222F3E;
    height: 50px;
}
.logoImg {
    padding-top: 0.5em;
    padding-left: 2.5em;
    height: 70%;
    width: auto;
}
.blueFrame {
    background-color: #354758;
    padding: 0.5em;
    width: 100%;
    position: sticky;
    top: 0;
}
.blueFrame a {
    padding-left: 1.5em;
}

main {
    width: 95%;
    margin: auto;
}
.shopGiftCards {
    margin: 1em 0;
    background-color: #F56600;
    padding: 0.5em;
    text-align: center;
    font-size: small;
}

.giftGuides {
    background-image: url(/assets/bg-image.png);
    background-repeat:repeat;
    height: 200px;
}

.giftGuides a {
    padding-top: 2em;
    font-size: 200%;
    text-align: center;
    display: block;

}
.giftGuides p {
    color: white;
    text-align: center;
}

#gifts {
    margin: 1em 0;
    padding: 1em;
    background-color: white;
    height: 55vh;
    
}

#gifts a {
    color: #509BA9;
    font-weight: bold;
    margin: 1.5em;
    font-size: small;
}
.description {
    font-size:large;
    display: block;
}
#images {
    display: flex;
}

.imgDiv {
    width: 25%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10pc 8px rgb(227, 226, 226); 
    cursor: pointer; 
}

.giftImg:hover {
    cursor: pointer;
}

.category img {
    max-width: 100%;
    display: block;  
}

.category p {
    text-align: center;
}

.category a {
    margin: 1em;
    font-size: small;
}

#shopMore {
    display: flex;
}

.backTo {
    background-color: #354758 ;
    height: 2.5em;
    text-align: center;
    font-size: small;
    padding: 0.5em;
}

.backTo .aWhite {
    text-decoration: underline;
}

#footer {
    height: 30%;
    background-color: #222F3E;
    text-align: center;
}

#shopMore {
    display: flex;
    width: 100%;
}

.subCategory {
    width: 25%;
    background-color: white;
    margin: 0.5em ;
    flex-wrap: wrap;
}
.subCatTitle , .seeMore {
    padding-left: 1em;
    padding-bottom: 1em;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    margin: 1em 0.1em;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.icon img{
    object-fit: cover;
    padding: 0 0.5em;
    width: 190px;
    height: 190px;
    margin: auto;
}


.icon span {
    padding-left: 0.5em ;
    padding-top: 1em;
    font-size: small;
}

